<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="Main" connectionString="Data Source=CORPW7-30780\sqlexpress2;Database=JustHackingArray;Integrated Security=true;"
       providerName="System.Data.SqlClient" />
  <add name="Test" connectionString="Data Source=HOME\SQLEXPRESS;Database=InstaLineTest;Integrated Security=true"
       providerName="System.Data.SqlClient" />
</connectionStrings>