@{
    using (var template = Html.Incoding().Template<GetAppointmentsQuery.Response>())
    {
        <table class="table table-bordered">
                            <tr>                   
                    <th>Staff</th>
                    <th>Name</th>
                    <th>Phone</th>
                </tr>

            @using (var each = template.ForEach())
            {
                <tr>                   
                    <th>@each.For(r => r.Staff)</th>
                    <th>@each.For(r => r.Name)</th>
                    <th>@each.For(r => r.Phone)</th>
                </tr>
            }
        </table>
    }
}