<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
<add name="Main" connectionString="Data Source=.\ENT2012;Database=JustHackingArray;Integrated Security=False;User Id=sa;Password=Incoding123" providerName="System.Data.SqlClient" />
 <add name="Test" connectionString="Data Source=.\ENT2012;Database=InstalineTest;Integrated Security=False;User Id=sa;Password=Incoding123"
  providerName="System.Data.SqlClient" />
</connectionStrings>